@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format(woff2);
}

body {
  background-color: #ffede9;
  margin: 0;
}

* {
  font-family: 'Satoshi';
}

p {
  font-weight: 500;
}

input {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #FDF5F3;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

input:focus {
  outline: #FF7A00 2px solid;
  outline-offset: 2px;
}