@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Variable.woff2") format(woff2);
}

body {
	background-color: #ffede9;
	margin: 0;
	padding-bottom: 30px;
}

* {
	font-family: "Satoshi";
}

p {
	font-weight: 500;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #fdf5f3;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
}

input[type="checkbox"] {
	appearance: none;
	width: 22px;
	height: 22px;
	border-radius: 7px;
	vertical-align: middle;
	border: solid 2px rgba(0, 0, 0, 0.22);
}

input[type="checkbox"]:checked {
	box-shadow: inset 0 0 0 1000px #ff7a00;
	background: url("/images/check.svg");
	border: solid 2px #ff7a00;
}

select {
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #fdf5f3;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
}

select:focus {
	outline: #ff7a00 2px solid;
	outline-offset: 2px;
}

input:focus {
	outline: #ff7a00 2px solid;
	outline-offset: 2px;
}

a {
	text-decoration: none;
}
