.studentList {
	display: flex;
	background-color: white;
	flex-direction: column;
	overflow-y: hidden;
	border-radius: 20px;
	width: 60%;
	min-width: 700px;
}

.buttonContainer {
	display: flex;
	justify-content: start;
	width: 60%;
	min-width: 700px;
}

.teacherView {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
}

.studentList .studentListItem:last-child {
	border: none;
}

@media only screen and (max-width: 728px) {
	.studentList,
	.buttonContainer {
		min-width: 0;
		width: 100%;
	}
}

.studentListItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #e0e0e0;
}

.studentListItemAction {
	display: flex;
	justify-content: center;
	align-items: center;
}

.className {
	display: flex;
	justify-content: center;
	gap: 25px;
	align-items: center;
}

.className div {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	padding: 10px;
}

.className h1 {
	padding: 0;
	margin: 0;
}
