.invisibleCheckbox {
	display: none;
}

.checkbox {
	width: 22px;
	height: 22px;
	border-radius: 7px;
	border: solid 2px rgba(0, 0, 0, 0.22);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease, border 0.3s ease,
		transform 0.3s ease;
}

.checked {
	background-color: #ff7a00;
	border: solid 2px #ff7a00;
}

.checkbox .check {
	display: flex;
	justify-content: center;
	align-self: center;
	/* animation: showUp 0.25s ease-out; */
}

.checkbox path {
	stroke-dasharray: 42;
	stroke-dashoffset: 61;
	transition: stroke-dasharray 0.3s ease, stroke-dashoffset 0.3s ease;
}

.checkbox:active path {
	stroke-dasharray: 36;
	stroke-dashoffset: 61;
}

.checked path {
	/* animation: pathShowUp 0.25s ease-out forwards; */
	stroke-dasharray: 29;
	stroke-dashoffset: 61;
}

.checkbox:active {
	transform: scale(0.9);
	background-color: rgb(255, 123, 0, 0.5);
	border: solid 2px rgb(255, 123, 0, 0.5);
}

@keyframes pathShowUp {
	0% {
		stroke-dasharray: 42;
		stroke-dashoffset: 61;
	}

	100% {
		stroke-dasharray: 29;
		stroke-dashoffset: 61;
	}
}

@keyframes showUp {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
