.dialogue {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    width: 60%;
    min-width: 700px;
    border-radius: 20px;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.text {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 700px;
    margin-top: 20px;
}

.invalid {
    color: red;
    outline-color: red !important;
}